/* define apple ios colors */
:root {
  --ios-blue: rgb(10, 132, 255);
  --ios-green: rgb(48, 209, 88);
  --ios-indigo: rgb(94, 92, 230);
  --ios-orange: rgb(255, 159, 10);
  --ios-pink: rgb(255, 55, 95);
  --ios-purple: rgb(191, 90, 242);
  --ios-red: rgb(255, 69, 58);
  --ios-teal: rgb(100, 210, 255);
  --ios-yellow: rgb(255, 214, 10);

  --ios-blue-darker: rgb(0, 72, 255);
  --ios-blue-lighter: rgb(62, 158, 253);
  --ios-red-lighter: rgb(255, 77, 92);

  --ios-bg-black: rgb(14, 14, 15);
  --ios-bg: rgb(22, 22, 24);
  --ios-bg1: rgb(24, 24, 26);
  --ios-bg2: rgb(28, 28, 30);
  --ios-bg3: rgb(58, 58, 60);
  --ios-bg4: rgb(72, 72, 74);

  --ios-text: rgb(255, 255, 255, .85);
  --ios-text1: rgb(255, 255, 255, .6);
  --ios-text2: rgb(255, 255, 255, .3);
  --ios-text3: rgb(255, 255, 255, .15);
  --ios-text4: rgb(255, 255, 255, .05);

  --ios-separator: rgb(255, 255, 255, .12);
  --ios-separator-dark: rgba(0, 0, 0, 0.8);

  --font: 11pt;

  --font-sm1: .95rem !important;
  --font-sm2: .9rem !important;
  --font-sm3: .85rem !important;
  --font-sm4: .8rem !important;
  --font-sm5: .75rem !important;

  --font-lg1: 12pt;
  --font-lg2: 13pt;
  --font-lg3: 14pt;
  --font-lg4: 15pt;
  --font-lg5: 16pt;
}

:root {
  --bs-body-color: var(--ios-text);
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: var(--ios-bg-black);
  --bs-body-bg-rgb: 14, 14, 15;
  --bs-border-color: var(--ios-separator);
  --bs-border-color-translucent: rgba(255, 255, 255, 0.1);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* GLOBAL */

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
  background-color: var(--ios-bg-black);
  z-index: 1000;
}

body {
  background-color: var(--ios-bg-black);
  color: var(--ios-text);
  font-family: system-ui, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
}

/* html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* ---------------------------------- */

.navbar .navbar-nav {
  flex-direction: row !important;
  justify-content: space-around;
}

.navbar a {
  font-weight: 500 !important;
  font-size: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: .5rem !important;
  text-align: center !important;
}

/* ---------------------------------- */

#loading {
  height: 50vh;
  width: 100%;
  z-index: 1000;
  background-color: var(--ios-bg-black);
}

#main-header {
  position: sticky;
  top: env(safe-area-inset-top);
  z-index: 1000;
  background-color: var(--ios-bg-black);
  border-bottom: 1px solid var(--ios-separator-dark);
  box-shadow: 0 15px 10px -15px var(--ios-separator-dark);
}

/* ---------------------------------- */

.table td,
.table th {
  background-color: transparent !important;
  color: var(--ios-text);
  font-size: 1rem;
  padding: .5rem .4rem;
  text-align: center;
}

.table thead th {
  color: var(--ios-text1);
  font-size: .8rem;
  font-weight: 600;
  padding-bottom: .6rem;
  border: none;
  border-bottom: 1px solid var(--ios-separator);
}

/* cells in first row of body */
.table tbody tr:first-child td {
  border-top: none;
  padding-top: .6rem;
}

.table tbody tr {
  border-top: 1px solid var(--ios-bg2);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.cont-card {
  margin: .6rem 0;
}

.cont-card-title {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  color: var(--ios-text1);
  padding: 8px 16px;
}

.cont-card-info {
  color: var(--ios-text2)
}

.cont-card-body {
  padding: .5rem .5rem;
  background-color: var(--ios-bg);
  border-radius: 12px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* INDEX/HOME */

#league-select-container {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

#league-select-container .form-group {
  margin: .8rem .5rem;
  text-align: center;
}

#league-select-container select {
  background-color: var(--ios-bg2);
  color: var(--ios-text);
  padding: .5rem 3rem .5rem 1rem;
  border: none;
  border-radius: 12px;
}

#league-select-container label {
  color: var(--ios-text1);
  font-size: .85rem;
  font-weight: 500;
  padding-bottom: .3rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* STANDINGS */

/* ---------------------------------- */

#standings-container th.rank {
  text-align: center;
}

#standings-container th.team {
  text-align: left;
}

/* ---------------------------------- */

#standings-container td.rank {
  text-align: center;
  font-size: .9rem;
}

#standings-container td.team span[data-item="nbr"] {
  color: var(--ios-blue) !important;
  /* font-weight: 400 !important; */
  /* font-size: 1rem !important; */
  text-align: right !important;
  min-width: 1.1rem;
}

#standings-container td.team span[data-item="name"] {
  color: var(--ios-text);
  /* font-weight: 400 !important; */
}

#standings-container td.winPct {
  /* color: var(--ios-text1); */
  /* font-weight: 400 !important; */
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SCHEDULE */

#filter-container button {
  color: var(--ios-text1);
  margin: .8rem .6rem;
  padding: .1rem 0rem;
  border: none;
  border-radius: 0;
  pointer-events: auto;
  font-size: 1rem;
  font-weight: 300 !important;
  text-transform: uppercase;
}

#filter-container button:hover {
  color: var(--ios-blue) !important;
  cursor: pointer;
}

#filter-container button.active {
  color: var(--ios-text) !important;
  border-bottom: 2px solid var(--ios-blue) !important;
  font-weight: 600 !important;
  font-size: 1.1rem;
}

/* ---------------------------------- */

.game-separator {
  margin: .6rem 0;
  border: none;
  border-top: 1px dotted var(--ios-separator);
}

/* ---------------------------------- */

.game-item {
  -webkit-user-select: none;
  user-select: none;
  padding: 0 .1rem;
}

.game-item.flash-update .team-col {
  border-right: 1px solid var(--ios-red) !important;
}

.game-item.flash-update .team-result {
  color: var(--ios-red) !important;
}

.game-item:first-child {
  border-top: none;
}

.game-item .team-col {
  border-right: 1px solid var(--ios-separator);
}

.game-item .team-item:hover {
  /* color: var(--ios-blue); */
  cursor: pointer;
}

.game-item .stat-col:hover i {
  cursor: pointer;
}

.game-item .stat-col {
  padding-right: 0;
}

.game-item .stat-col .edit-icon {
  color: var(--ios-blue);
  font-size: .8rem;
}

.game-item-form .stat-col .edit-icon {
  /* color: var(--ios-red-lighter); */
  font-size: 1.2rem;
}

/* ---------------------------------- */

.game-item .team-nbr {
  color: var(--ios-blue);
  font-weight: 500;
  font-size: 1rem;
  text-align: right;
  min-width: 1.1rem;
}

/* .game-item.post .team-nbr {
  color: var(--ios-text2);
}

.game-item.post .team-item.winner .team-nbr {
  color: var(--ios-blue);
} */

.game-item .team-name {
  color: var(--ios-text1);
  font-size: 1rem;
  font-weight: 300;
}

.game-item .team-item.winner .team-name {
  color: var(--ios-text);
  font-weight: 500;
}

.game-item .team-item .team-record {
  color: var(--ios-text3);
  font-size: .8rem;
}

.game-item-form .team-item .team-record {
  display: none;
}

.game-item .team-item .team-result {
  color: var(--ios-green);
  font-size: 1.1rem;
}

.game-item-form .team-item .team-result {
  color: var(--ios-text3);
  font-size: 1.5rem;
}

.game-item-form .team-item.winner .team-result {
  color: var(--ios-green);
}

.game-item .game-time {
  color: var(--ios-text);
  font-size: 1rem;
  font-weight: 400;
}

.game-item .game-court {
  color: var(--ios-text1);
  font-size: .9rem !important;
  font-weight: 300;
}

/* ---------------------------------- */


.game-item .team-item.selected .team-name {
  color: var(--ios-blue) !important;
  font-weight: 500 !important;
}

.game-item .team-item.unselected .team-name {
  color: var(--ios-text2) !important;
}

/* ---------------------------------- */

.game-item-form .help-text {
  color: var(--ios-text1);
  font-weight: 500;
}