/* define apple ios colors */
:root {

  /* colors */
  --ios-red: #ff453a;
  --ios-orange: #ff9f0a;
  --ios-yellow: #ffd60a;
  --ios-green: #30d158;
  --ios-mint: #63E6E2;
  --ios-teal: #40CBE0;
  --ios-cyan: #64d2ff;
  --ios-blue: #0a84ff;
  --ios-indigo: #5e5ce6;
  --ios-purple: #bf5af2;
  --ios-pink: #ff375f;
  --ios-brown: #AC8E68;

  /* text */
  --ios-text: rgba(255, 255, 255, 1);
  --ios-text-secondary: rgba(235, 235, 245, 0.6);
  --ios-text-tertiary: rgba(235, 235, 245, 0.3);
  --ios-text-quaternary: rgba(235, 235, 245, 0.16);

  /* backgrounds */
  --ios-bg-primary: rgba(0, 0, 0, 1);
  --ios-bg-secondary: rgba(28, 28, 30, 1);
  --ios-bg-tertiary: rgba(44, 44, 46, 1);

  /* separators */
  --ios-separator-opaque: rgba(56, 56, 58, 1);
  --ios-separator-nonopaque: rgba(84, 84, 88, 0.65);
  --ios-separator-opaque-light: rgba(198, 198, 200, 1);
  --ios-separator-nonopaque-light: rgba(60, 60, 67, 0.36);

  /* materials */
  --ios-material-thick: rgba(37, 37, 37, 0.9);
  --ios-material-regular: rgba(37, 37, 37, 0.82);
  --ios-material-thin: rgba(37, 37, 37, 0.82);
  --ios-material-ultrathin: rgba(37, 37, 37, 0.55);

  --ios-link: rgb(0, 122, 255);
}

:root {
  --bs-body-color: var(--ios-text);
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: var(--ios-bg-primary);
  --bs-body-bg-rgb: 0, 0, 0;
  --bs-primary: var(--ios-blue);
  --bs-primary-rgb: 10, 132, 255;
}

:root {
  --body-max-width: 600px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* GLOBAL */

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
}

body {
  background-color: var(--ios-bg-primary);
  color: var(--ios-text);
  font-family: system-ui, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--body-max-width);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

/* -- BOOTSTRAP OVERRIDES -- */

/* remove default gutters */

.container,
.container-fluid,
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/* strip table styles */

.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-color: inherit;
  --bs-table-border-color: inherit;
  margin: 0;
  vertical-align: middle;
  border-color: inherit;
}

/* other */

:root {
  --bs-body-color: var(--ios-text);
  --bs-body-bg: var(--ios-bg-primary);
  --bs-primary: var(--ios-blue);
  --bs-secondary: var(--ios-text-secondary);
  --bs-success: var(--ios-green);
  --bs-info: var(--ios-cyan);
  --bs-warning: var(--ios-orange);
  --bs-danger: var(--ios-red);

  --bs-secondary-color: var(--ios-text-secondary);
  --bs-secondary-bg: var(--ios-bg-secondary);
  --bs-tertiary-color: var(--ios-text-tertiary);
  --bs-tertiary-bg: var(--ios-bg-tertiary);

  --bs-link-color: var(--ios-link);

  --bs-border-color: var(--ios-separator-opaque);
}




/* ---------------------------------- */

nav {
  z-index: 2000;
  transform: translateZ(0);
}

nav .navbar-nav {
  flex-direction: row !important;
  justify-content: space-around;
}

nav a {
  font-weight: 600 !important;
  font-size: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: .3rem !important;
  text-align: center !important;
  margin: 0 .5rem !important;
}

nav a.direct-user {
  border-bottom: 2px solid var(--ios-red) !important;
  transition: border-bottom 1s;
}

nav #navbar-border {
  height: 2px;
  background-color: var(--ios-text);
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

nav.hidden {
  display: none;

}

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid var(--ios-separator-opaque);
  box-shadow: 0 -15px 10px -15px var(--ios-separator-opaque);
  text-align: center;
}

footer a {
  color: var(--ios-text);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--ios-blue);
  text-underline-offset: .5rem;
}

#loading {
  height: 50vh;
  width: 100%;
  z-index: 1000;
  background-color: var(--ios-bg-primary);
}

/* --------------- SUBNAV --------------- */

.main-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% + env(safe-area-inset-top));
  z-index: -1;
  opacity: 1;
  background-color: rgba(0, 0, 0, .7);
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
}

.main-header {
  position: sticky;
  top: env(safe-area-inset-top);
  left: 0;
  border-bottom: 1px solid var(--ios-bg-primary);
  opacity: 1;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.main-header.hidden {
  display: none;
  border-bottom: none;
}

.main-header .btn-back {
  position: absolute;
  left: 0;
  padding-left: .5rem;
}

.main-header .main-header-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--ios-text);
  text-align: center;
}

.main-header>* {
  padding: .8rem 0;
}

/* --------------- TABLE --------------- */

.table td,
.table th {
  background-color: transparent !important;
  color: var(--ios-text);
  font-size: .9rem;
  font-weight: 400;
  padding: .7rem .4rem;
  text-align: center;
  user-select: none !important;
  -webkit-user-select: none !important;
  border: none;
}

td:first-child {
  padding-left: .2rem;
}

.table thead th {
  color: var(--ios-text-secondary);
  font-size: .8rem;
  padding-top: .4rem;
}

.table tbody tr {
  border-top: .8px solid var(--ios-material-thick);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* --------------- CARDS --------------- */

.cont-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.cont-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  color: var(--ios-text-secondary);
  padding: 0 .4rem;
}

.cont-card-title>span {
  padding-bottom: .4rem;
  font-size: 1rem;
  line-height: 1.5;
}

.cont-card-body {
  padding: .6rem .4rem;
  background-color: var(--ios-bg-secondary);
  border-radius: 10px;
}

#standings-carousel .carousel-item {
  padding: 0 .4rem;
}

/* --------------- LEAGUE SELECT --------------- */

#league-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
  flex-grow: 1;
}

#league-select-container .form-group {
  margin: 0 .5rem;
  text-align: center;
}

#league-select-container select {
  background-color: var(--ios-bg-secondary);
  color: var(--ios-text);
  padding: .5rem 1rem;
  border: none;
  border-radius: 12px;
}

#league-select-container select:hover {
  cursor: pointer;
}

#league-select-container select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#league-select-container label {
  color: var(--ios-text-secondary);
  font-size: .9rem;
  font-weight: 400;
  padding-bottom: .25rem;
  text-transform: uppercase;
}

#league-select-container select.invalid {
  border: 1px solid var(--ios-red);
  color: var(--ios-text-tertiary);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* STANDINGS */

#leaderboard-container {
  margin-top: 1rem;
}

th.team {
  text-align: left;
}

td.team {
  font-size: .95rem;
}

td.team .team-nbr {
  color: var(--ios-blue) !important;
  text-align: right !important;
  min-width: 1.1rem;
  font-weight: 400;
}

td.team .team-name {
  color: var(--ios-text);
}

th.drinks i.fa-beer {
  color: var(--ios-orange);
  opacity: .6;
}

td.drinks {
  color: var(--ios-orange)
}

/* .fa-chevron-right {
  color: var(--ios-text-tertiary);
  font-size: .8rem;
  font-weight: 500;
} */

.team-nbr {
  color: var(--ios-blue) !important;
  text-align: right !important;
  min-width: 1.1rem;
  font-weight: 400;
}

/* --------------- MENU ITEMs --------------- */

.menu-item-list {
  display: flex;
  flex-direction: column;
  padding: 0.1rem 0;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem;
  height: 2.9rem;
  font-size: 1rem;
}

.menu-item .label {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 0;
  align-self: stretch;
  padding-right: 0.4rem;
}

.menu-item .contents {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.5px solid var(--ios-separator-nonopaque);
  flex-grow: 1;
  align-self: stretch;
}

.menu-item:last-child .contents {
  border-bottom: none;
}

.menu-item .contents .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  align-self: stretch;
}

.menu-item .contents .main-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
  align-items: center;
  flex-grow: 0;
  align-self: stretch;
}

.menu-item .contents .trail {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  padding-right: 1rem;
  align-self: stretch;
}

.menu-item .contents .main>.title {
  font-weight: 400;
  color: var(--ios-text-primary);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item .contents .trail>.drill>i {
  font-size: .8rem;
  font-weight: 600;
  color: var(--ios-text-tertiary);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* --------------- WEEK STATS --------------- */

.menu-item.week-stats-nav .main-info>div {
  padding-right: 0.7rem;
  color: var(--ios-text-tertiary);
  font-size: .95rem;
}

.stepper-container {
  background-color: var(--ios-bg-tertiary);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stepper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  padding: .3rem 0;
}

.stepper .separator {
  width: 1px;
  background-color: var(--ios-text-tertiary);
  height: 1.2rem;
}

.stepper div[role="button"] {
  width: 2.75rem;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepper div[role="button"] i {
  font-size: 1rem;
  font-weight: 300;
  color: var(--ios-text-primary);
}

.week-stats .menu-item .drinks-count {
  color: var(--ios-text-primary);
  min-width: 1.1rem;
  text-align: right;
}

.week-stats .menu-item .drinks-count-orig {
  color: var(--ios-text-quaternary);
}

.week-stats .menu-item.changed .drinks-count {
  color: var(--ios-orange);
}

.week-stats .menu-item:not(.changed) .drinks-count-orig {
  display: none;
}

.week-stats button.btn-save {
  color: var(--ios-text-primary);
  font-weight: 500;
  padding: .5rem .5rem;
  border: none;
  background: linear-gradient(90deg, var(--ios-blue) 0%, var(--ios-blue) 100%);
  border-radius: 10px;
  width: 100%;
  margin: 0 1rem .5rem 0;
}

.week-stats button.btn-save.hidden {
  display: none;
}

.week-stats button.btn-save.disabled {
  pointer-events: none;
  opacity: .5;
  background: linear-gradient(90deg, var(--ios-bg-secondary) 0%, var(--ios-bg-secondary) 100%);
}

.week-stats button.btn-save.save-success {
  pointer-events: none;
  opacity: .5;
  background: linear-gradient(90deg, var(--ios-green) 0%, var(--ios-green) 100%);
}

.btn.btn-back {
  color: var(--ios-blue);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SCHEDULE */

#week-filter-container button {
  color: var(--ios-text-secondary);
  margin: 0rem .6rem;
  padding: .1rem 0rem;
  padding-bottom: .4rem;
  border: none;
  border-radius: 0;
  pointer-events: auto;
  font-size: 1rem;
  font-weight: 400 !important;
  text-transform: uppercase;
}

#week-filter-container button span.week-btn-date {
  font-size: .7rem;
  font-weight: 300;
  color: var(--ios-text-tertiary);
}


#week-filter-container button:hover {
  color: var(--ios-blue) !important;
  cursor: pointer;
}

#week-filter-container button.active {
  color: var(--ios-text) !important;
  border-bottom: 2px solid var(--ios-blue) !important;
  font-weight: 600 !important;
  font-size: 1.1rem;
}

/* #week-filter-container button.active span.week-btn-date {
  color: var(--ios-text-secondary) !important;
} */



/* ---------------------------------- */

.carousel-item {
  transition: transform 0.4s ease-in-out;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.2s 0s ease-out;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.2s;
}

/* ---------------------------------- */

/* ---------------------------------- */

.game-separator {
  margin: .8rem 0;
  border: none;
  border-top: .8px solid var(--ios-separator-opaque);
}

.game-group.cont-card {
  padding: .25rem 0;
}

.game-group .cont-card-body {
  padding: .8rem .3rem;
}

/* ---------------------------------- */

.game-item {
  -webkit-user-select: none;
  user-select: none;
  padding: 0 .1rem;
}

.game-item.pending {
  pointer-events: none;
  opacity: .5;
}

.game-item:first-child {
  border-top: none;
}

.game-item .team-col {
  border-right: .8px solid var(--ios-separator-opaque);
}

.game-item .team-name:hover {
  cursor: pointer;
}

.game-item-form i.result:hover {
  cursor: pointer;
}

.game-item .stat-col {
  padding-right: 0;
}

.game-item .stat-col .edit-icon-circle {
  background-color: var(--ios-bg-tertiary);
  border-radius: 50%;
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .4rem;

}

.game-item .stat-col .edit-icon {
  color: var(--ios-blue);
  object-fit: contain;
  font-size: .9rem;
}

.game-item-form .stat-col .edit-icon {
  font-size: 1.2rem;
}

.game-item-form .team-item {
  padding: .25rem 0;
}

.game-item-form .team-record {
  display: none;
}

.game-item.collapsing {
  transition: height 0.1s ease-in-out;
}

.game-item-form .alert {
  font-size: .9rem;
  font-weight: 400;
  padding: .6rem;
  border-radius: 10px;
}

/* ---------------------------------- */

.game-item .team-nbr {
  color: var(--ios-blue);
  font-weight: 500;
  font-size: .95rem;
  text-align: right;
  min-width: 1.1rem;
}

.game-group .game-item .team-name {
  color: var(--ios-text);
  font-size: .95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.team-item .team-record {
  color: var(--ios-text-tertiary);
  font-size: .75rem;
  white-space: nowrap;
}

.game-item .team-item .result.fa-circle {
  opacity: .25;
  color: var(--ios-text-quaternary)
}

.game-item.post .team-item .result.fa-circle {
  opacity: 0;
}

.game-item .team-item .result.fa-circle-check {
  opacity: 1;
  color: var(--ios-green);
}

.game-item-form .team-item .result {
  opacity: 1 !important;
  font-size: 1.4rem;
}

.game-item-form .match-headers div {
  width: 1.4rem;
  text-align: center;
  font-size: .85rem;
  color: var(--ios-text-secondary);
}

.game-item .game-time {
  color: var(--ios-text);
  font-size: .95rem;
  font-weight: 400;
}

.game-item .game-court {
  color: var(--ios-text-secondary);
  font-size: .85rem;
  font-weight: 200;
}

/* ---------------------------------- */

.game-item .team-item.selected .team-name {
  color: var(--ios-blue) !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

.game-item .team-item.loser.selected .team-result {
  color: var(--ios-red) !important;
  opacity: 1 !important;
}

.game-item .team-item.unselected>* {
  color: var(--ios-text-quaternary) !important;
}

/* ---------------------------------- */

.game-item-form .alert p:nth-child(2) {
  margin: .5rem 0;
  color: var(--ios-text-secondary) !important;
}

.game-item-form .alert p {
  margin: .5rem 0;
  color: var(--ios-text) !important;
}

.game-item-form .form-footer {
  margin-top: .5rem;
}