/* define apple ios colors */
:root {

  /* colors */
  --ios-red: #ff453a;
  --ios-orange: #ff9f0a;
  --ios-yellow: #ffd60a;
  --ios-green: #30d158;
  --ios-mint: #63E6E2;
  --ios-teal: #40CBE0;
  --ios-cyan: #64d2ff;
  --ios-blue: #0a84ff;
  --ios-indigo: #5e5ce6;
  --ios-purple: #bf5af2;
  --ios-pink: #ff375f;
  --ios-brown: #AC8E68;

  /* text */
  --ios-text: rgba(255, 255, 255, 1);
  --ios-text-secondary: rgba(235, 235, 245, 0.6);
  --ios-text-tertiary: rgba(235, 235, 245, 0.3);
  --ios-text-quaternary: rgba(235, 235, 245, 0.16);

  /* backgrounds */
  --ios-bg-primary: rgba(0, 0, 0, 1);
  --ios-bg-secondary: rgba(28, 28, 30, 1);
  --ios-bg-tertiary: rgba(44, 44, 46, 1);

  /* separators */
  --ios-separator-opaque: rgba(56, 56, 58, 1);
  --ios-separator-nonopaque: rgba(84, 84, 88, 0.65);
  --ios-separator-opaque-light: rgba(198, 198, 200, 1);
  --ios-separator-nonopaque-light: rgba(60, 60, 67, 0.36);

  /* materials */
  --ios-material-thick: rgba(37, 37, 37, 0.9);
  --ios-material-regular: rgba(37, 37, 37, 0.82);
  --ios-material-thin: rgba(37, 37, 37, 0.82);
  --ios-material-ultrathin: rgba(37, 37, 37, 0.55);

  --ios-link: rgb(0, 122, 255);
}

:root {
  --bs-body-color: var(--ios-text);
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg: var(--ios-bg-primary);
  --bs-body-bg-rgb: 0, 0, 0;
  --bs-primary: var(--ios-blue);
  --bs-primary-rgb: 10, 132, 255;
}

:root {
  --body-max-width: 700px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* GLOBAL */

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: env(safe-area-inset-top);
}

body {
  background-color: var(--ios-bg-primary);
  color: var(--ios-text);
  font-family: system-ui, -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: var(--body-max-width);
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}

/* ---------------------------------- */

nav {
  z-index: 2000;
  transform: translateZ(0);
}

nav .navbar-nav {
  flex-direction: row !important;
  justify-content: space-around;
}

nav a {
  font-weight: 500 !important;
  font-size: 1rem !important;
  padding-top: 0 !important;
  padding-bottom: .3rem !important;
  text-align: center !important;
  margin: 0 .5rem !important;
}

nav a.direct-user {
  border-bottom: 2px solid var(--ios-red) !important;
  transition: border-bottom 1s;
}

nav #navbar-border {
  height: 2px;
  background-color: var(--ios-text);
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  border-top: 1px solid var(--ios-separator-opaque);
  box-shadow: 0 -15px 10px -15px var(--ios-separator-opaque);
  text-align: center;
}

footer a {
  color: var(--ios-text);
  text-decoration: underline;
  text-decoration-color: var(--ios-blue);
  text-underline-offset: .5rem;
}

/* ---------------------------------- */

#loading {
  height: 50vh;
  width: 100%;
  z-index: 1000;
  background-color: var(--ios-bg-primary);
}

.main-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100% + env(safe-area-inset-top));
  z-index: -1000;
  background-color: rgba(0, 0, 0, .7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.main-header:has(> *) {
  position: sticky;
  top: env(safe-area-inset-top);
  left: 0;
  border-bottom: 1px solid var(--ios-bg-primary);
  z-index: 1080;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.main-header.hidden {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.2s ease-in-out;
}

.main-header>* {
  padding: .8rem 0;
}

/* ---------------------------------- */

.table td,
.table th {
  background-color: transparent !important;
  color: var(--ios-text);
  font-size: .95rem;
  padding: .7rem .4rem;
  text-align: center;
}

.table thead th {
  color: var(--ios-text-secondary);
  font-size: .8rem;
  font-weight: 500;
  padding-top: .4rem;
  padding-bottom: .6rem;
  border: none;
  border-bottom: 1px solid var(--ios-separator);
}

.table tbody tr:first-child td {
  border-top: none;
  padding-top: .6rem;
}

.table tbody tr {
  border-top: .8px solid var(--ios-separator-opaque);
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.cont-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  /* margin: 0 .4rem; */
}

.cont-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  color: var(--ios-text-secondary);
  padding: 0 .4rem;
}

.cont-card-title>span {
  padding-bottom: .4rem;
  font-size: 1rem;
  line-height: 1.5;
}

.cont-card-body {
  padding: .6rem .4rem;
  background-color: var(--ios-bg-secondary);
  border-radius: 10px;
}


#stats-container .cont-card-body {
  padding: .2rem .4rem;
}

#standings-carousel .carousel-item {
  padding: 0 .4rem;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* INDEX/HOME */

#league-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
}

#league-select-container .form-group {
  margin: 0 .5rem;
  text-align: center;
}

#league-select-container select {
  background-color: var(--ios-bg-secondary);
  color: var(--ios-text);
  padding: .5rem 1rem;
  border: none;
  border-radius: 12px;
}

#league-select-container select:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

#league-select-container label {
  color: var(--ios-text-secondary);
  font-size: .9rem;
  font-weight: 400;
  padding-bottom: .25rem;
  text-transform: uppercase;
}

#league-select-container select.invalid {
  border: 1px solid var(--ios-red);
  color: var(--ios-text-tertiary);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* STANDINGS */

/* ---------------------------------- */

th.team {
  text-align: left;
}

td.team {
  font-size: .95rem;
}

td.team span[data-item="nbr"] {
  color: var(--ios-blue) !important;
  text-align: right !important;
  min-width: 1.1rem;
  font-weight: 500;
}

td.team span[data-item="name"] {
  color: var(--ios-text);
}

.fa-chevron-right {
  color: var(--ios-text-tertiary);
  font-size: .8rem;
  font-weight: 500;
}

.week-menu-item:first-child {
  border-top: none;
}

.week-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .7rem .25rem;
  background-color: var(--ios-bg-secondary);
  border-top: .8px solid var(--ios-separator-opaque);
}

.week-menu-item-header {
  font-size: 1rem;
  font-weight: 400;
  color: var(--ios-text-primary);
}

.week-div .week-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.week-div .week-value {
  font-size: 1rem;
  font-weight: 400;
  color: var(--ios-text-primary);
}

.week-div .stepper.btn-group {
  margin-left: 1rem;
}

.stepper.btn-group .btn:first-child {
  border-radius: 10px 0 0 10px;
  border-right: 1px solid var(--ios-separator-nonopaque-light) !important;
}

.stepper.btn-group .btn:last-child {
  border-radius: 0 10px 10px 0;
  border-left: 1px solid var(--ios-separator-nonopaque-light) !important;
}

.stepper.btn-group .btn {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  background-color: var(--ios-bg-tertiary);
  color: var(--ios-text-primary);
}

.btn.btn-back {
  color: var(--ios-blue);

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SCHEDULE */

#week-filter-container button {
  color: var(--ios-text-secondary);
  margin: 0rem .6rem;
  padding: .1rem 0rem;
  border: none;
  border-radius: 0;
  pointer-events: auto;
  font-size: 1rem;
  font-weight: 400 !important;
  text-transform: uppercase;
}


#week-filter-container button:hover {
  color: var(--ios-blue) !important;
  cursor: pointer;
}

#week-filter-container button.active {
  color: var(--ios-text) !important;
  border-bottom: 2px solid var(--ios-blue) !important;
  font-weight: 600 !important;
  font-size: 1.1rem;
}

/* ---------------------------------- */

.carousel-item {
  transition: transform 0.4s ease-in-out;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 0.2s 0s ease-out;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.2s;
}

/* ---------------------------------- */

/* ---------------------------------- */

.game-separator {
  margin: .8rem 0;
  border: none;
  border-top: .8px solid var(--ios-separator-opaque);
}

.game-group.cont-card {
  padding: .25rem 0;
}

.game-group .cont-card-body {
  padding: .8rem .3rem;
}

/* ---------------------------------- */

.game-item {
  -webkit-user-select: none;
  user-select: none;
  padding: 0 .1rem;
}

.game-item.pending {
  pointer-events: none;
  opacity: .5;
}

.game-item:first-child {
  border-top: none;
}

.game-item .team-col {
  border-right: .8px solid var(--ios-separator-opaque);
}

.game-item .team-item:hover {
  cursor: pointer;
}

.game-item .stat-col:hover i {
  cursor: pointer;
}

.game-item .stat-col {
  padding-right: 0;
}

.game-item .stat-col .edit-icon-circle {
  /* circle background for edit icon */
  background-color: var(--ios-bg-tertiary);
  border-radius: 50%;
  /* padding: .2rem; */
  width: 1.9rem;
  height: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .4rem;

}

.game-item .stat-col .edit-icon {
  color: var(--ios-blue);
  object-fit: contain;
  font-size: .9rem;
}

.game-item-form .stat-col .edit-icon {
  font-size: 1.2rem;
}

.game-item-form .team-item {
  padding: .25rem 0;
}

.game-item-form .team-record {
  display: none;
}

.game-item-form .stat-col .game-court,
.game-item-form .stat-col .game-time {
  /* display: none; */
}

.game-item.collapsing {
  transition: height 0.1s ease-in-out;
}

.game-item-form .alert {
  font-size: .9rem;
  font-weight: 400;
  padding: .6rem;
  border-radius: 10px;
}

/* ---------------------------------- */

.game-item .team-nbr {
  color: var(--ios-blue);
  font-weight: 500;
  font-size: .95rem;
  text-align: right;
  min-width: 1.1rem;
}

.game-group .game-item .team-name {
  color: var(--ios-text);
  font-size: .95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.game-item-form .team-name,
.game-item-form .team-nbr {
  /* font-size: .95rem; */
  /* font-weight: 500; */
}

.team-item .team-record {
  color: var(--ios-text-tertiary);
  font-size: .75rem;
  white-space: nowrap;
}

.game-item .team-item .result.fa-circle {
  opacity: .25;
  color: var(--ios-text-quaternary)
}

.game-item.post .team-item .result.fa-circle {
  opacity: 0;
}

.game-item .team-item .result.fa-circle-check {
  opacity: 1;
  color: var(--ios-green);
}

.game-item-form .team-item .result {
  opacity: 1 !important;
  font-size: 1.4rem;
}

.game-item-form .match-headers div {
  width: 1.4rem;
  text-align: center;
  font-size: .85rem;
  /* font-weight: 500; */
  color: var(--ios-text-secondary);
}

.game-item .game-time {
  color: var(--ios-text);
  font-size: .95rem;
  font-weight: 400;
}

.game-item.post .game-time {
  /* color: var(--ios-text-tertiary); */
}

.game-item .game-court {
  color: var(--ios-text-secondary);
  font-size: .85rem;
  font-weight: 200;
}

.game-item.post .game-court {
  /* color: var(--ios-text-tertiary); */
}

/* ---------------------------------- */


.game-item .team-item.selected .team-name {
  color: var(--ios-blue) !important;
  font-weight: 500 !important;
  opacity: 1 !important;
}

.game-item .team-item.loser.selected .team-result {
  color: var(--ios-red) !important;
  opacity: 1 !important;
}

.game-item .team-item.unselected>* {
  color: var(--ios-text-quaternary) !important;
}

/* ---------------------------------- */

.game-item-form .alert p:nth-child(2) {
  margin: .5rem 0;
  color: var(--ios-text-secondary) !important;
}

.game-item-form .alert p {
  margin: .5rem 0;
  color: var(--ios-text) !important;
}

.game-item-form .form-footer {
  margin-top: .5rem;
  /* margin-bottom: .5rem; */
}

/* ---------------------------------- */

#playoff-bracket-container>.cont-card>.cont-card-body {
  background-color: var(--ios-bg-primary);
  padding-left: 0;
  overflow-x: auto;
  width: 100vw !important;
}

.bracket {
  padding: 2rem 0;
  /* border-bottom: 1px solid var(--ios-separator); */
}

.bracket:first-child {
  padding-top: 0;
}

.bracket:last-child {
  padding-bottom: 0;
}

.bracket .column {
  align-items: center;
}

.bracket .column.first-column {
  justify-content: space-between;
}

.bracket-game {
  min-width: 250px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .25rem .25rem;
  margin-left: 0;
  margin-right: .5rem;
  padding: 0;
  position: relative;
  z-index: 2;
}

.bracket-game .cont-card-body {
  padding: .5rem .6rem;
  padding-left: .2rem;
  background-color: var(--ios-bg-secondary) !important;
}

.bracket-game .game-item {
  padding: .3rem 0;
}

.bracket-game.first-column {
  flex-grow: 0;
}

.bracket-game .team-seed {
  min-width: 1rem;
  color: var(--ios-text-tertiary);
  font-size: .75rem;
  text-align: right;
  /* align-self: self-end; */
}

.bracket-game .team-name {
  font-size: .95rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bracket-game .game-nbr {
  font-size: .8rem;
  color: var(--ios-red);
  opacity: .9;
  font-weight: 500;
}

.bracket-game .game-time {
  font-size: .8rem;
  color: var(--ios-text-secondary);
}

.bracket-game .team-item.bye {
  color: var(--ios-text-quaternary);
}

.bracket-game .team-item.unknown {
  color: var(--ios-text-quaternary);
}

.bracket-game.reg-entry::before {
  --connect-color: var(--ios-text-secondary);
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(25% - .125rem);
  left: -.5rem;
  width: 1rem;
  height: calc(50% + .125rem);
  border-right: 1px solid var(--connect-color);
  border-top: 1px solid var(--connect-color);
  border-bottom: 1px solid var(--connect-color);
  border-radius: 0 7px 7px 0;
}

.bracket-game.alt1-entry::before {
  --connect-color: var(--ios-text-secondary);
  content: "";
  position: absolute;
  z-index: -1;
  bottom: calc(50%);
  left: -.5rem;
  width: 1rem;
  height: calc(4rem);
  border-right: 1px solid var(--connect-color);
  border-top: 1px solid var(--connect-color);
  border-bottom: 1px solid var(--connect-color);
  border-radius: 0 7px 7px 0;
}

.bracket-game.alt2-entry::before {
  --connect-color: var(--ios-text-secondary);
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(50%);
  left: -.5rem;
  width: 1rem;
  height: calc(4rem);
  border-right: 1px solid var(--connect-color);
  border-top: 1px solid var(--connect-color);
  border-bottom: 1px solid var(--connect-color);
  border-radius: 0 7px 7px 0;
}