<template id="game-group-template">

  <div class="cont-card game-group">
    <div class="cont-card-body">

    </div>
  </div>

</template>


<template id="game-item-template">

  <div class="game-item row g-0">
    <div class="team-col col-8 pe-3 d-flex flex-column justify-content-center">
      <div class="team-item team-item-1 d-flex align-items-center column-gap-2">
        <span data-item="team1_nbr" class="team-nbr"></span>
        <span data-item="team1_name" class="team-name"></span>
        <span data-item="team1_record" class="team-record"></span>
        <span class="ms-auto"><i class="team-result"></i></span>
      </div>
      <div class="team-item team-item-2 d-flex align-items-center column-gap-2">
        <span data-item="team2_nbr" class="team-nbr"></span>
        <span data-item="team2_name" class="team-name"></span>
        <span data-item="team2_record" class="team-record"></span>
        <span class="ms-auto"><i class="team-result"></i></span>
      </div>
    </div>
    <div class="stat-col col-4 ps-3 d-flex justify-content-between column-gap-1" role="button" data-bs-toggle="collapse">
      <div class="d-flex flex-column justify-content-start">
        <span data-item="time" class="game-time"></span>
        <span data-item="court" class="game-court"></span>
      </div>
      <div class="d-flex flex-column justify-content-center pe-1">
        <i class="fa-solid fa-pen edit-icon"></i>
      </div>
    </div>
  </div>

</template>