<template id="standings-item-template">
  <tr class="standings-item">

    <!-- <td class="rank" data-column="RANK">
      <div>
        <span data-item="rank"></span>
      </div>
    </td> -->
    <td class="team" data-column="TEAM">
      <div class="d-flex justify-content-start align-items-center column-gap-2">
        <span data-item="nbr"></span>
        <span data-item="name"></span>
      </div>
    </td>
    <td class="wins" data-column="W">
      <div>
        <span data-item="wins"></span>
      </div>
    </td>
    <td class="losses" data-column="L">
      <div>
        <span data-item="losses"></span>
      </div>
    </td>
    <td class="winPct" data-column="PCT">
      <div>
        <span data-item="winPct"></span>
      </div>
    </td>

  </tr>
</template>