<template id="standings-item-template">
  <tr class="standings-item">

    <td class="rank" data-column="RANK">
      <div>
        <span data-item="rank"></span>
      </div>
    </td>
    <td class="team" data-column="TEAM">
      <div class="d-flex justify-content-start align-items-center column-gap-2">
        <span data-item="id"></span>
        <span data-item="name"></span>
      </div>
    </td>
    <td class="record" data-column="RECORD">
      <div>
        <span data-item="record"></span>
      </div>
    </td>

  </tr>
</template>